KOMODO_URL=http://komodo:9120
KOMODO_API_KEY=
KOMODO_API_SECRET=
MQTT_URL=mqtt://mosquitto:1883
MQTT_USER=
MQTT_PASS=
# Optionnel
POLL_INTERVAL=60
BASE_TOPIC=komodo2mqtt
DISCOVERY_PREFIX=homeassistant
